* {
    margin: 0;
    padding: 0;
}

/* Social Media Start */

.media-background {
    background: #e9e9e9;
}

.social-media {
    display: flex;
    justify-content: center;
}

li {
    list-style: none;
    margin: 0px 20px;
    display: inline-block;
    padding-top: 15px;
    cursor: pointer;
}

.facebook img {
    width: 40px;
    height: auto;
}

.instagram img {
    width: 40px;
    height: auto;
}

.linkedin img {
    width: 40px;
    height: auto;
}

/* Social Media End */

.footer-background {
    background-color: #bbbbbb;
}

.footer {
    display: flex;
    justify-content: center;
}